run = "npx tsx apps/bot/src/main.ts"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npx tsx apps/bot/src/main.ts"]
deploymentTarget = "cloudrun"

[languages]
[languages.typescript]
pattern = "**/*.ts"
[languages.typescript.languageServer]
start = "typescript-language-server --stdio"
