entrypoint = "apps/bot/src/main.ts"
run = "node --loader tsx apps/bot/src/main.ts"

[env]
NODE_ENV = "production"

[nix]
channel = "stable-24_05"

[nix.pkgs]
pkgs = ["nodejs-20_x"]

[[ports]]
localPort = 3000
externalPort = 80
